input[type=number] {
  line-height: 60px;
  width: 30px;
  border: none;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button {
  width: 10px;
  height: 100px;
  position: relative;
  right: 18px;
  opacity: 25%;
}
input[type=number]:focus {
  outline: none;
}