@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

input[type=number] {
  line-height: 60px;
  width: 30px;
  border: none;
  font-weight: bold;
  position: relative;
  left: 17rem;
  bottom: 4.3rem;
  background-color: rgb(243, 233, 233);;
  text-align: center;
  font-size: 25px;
}

input[type=number]::-webkit-inner-spin-button {

  height: 100px;
  position: relative;
  right: 15px;
  opacity: 25%;
  background-color: rgb(243, 233, 233);;
}
input[type=number]:focus {
  outline: none;
}

.your-order {
  display: flex;
  justify-content: center;

}

.cart-item {
  position: relative;
  top: 1rem;
  left: 1rem;
}

.price-section {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}

.link-section {
  display: flex;
  justify-content: center;
}

.buy-link {
  background-color: black;
  width: 248px;
  height: 55px;
  border-radius: 50px;
  border: none;
}

.selected-coffe {
  height: 20rem;
  overflow: hidden;
  overflow-y: scroll;
}
.cofe-p {
  font-family: 'PT Serif', serif;
}
.total-price {
  font-family: 'PT Serif', serif;
}
.link-text {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
