input[type=number] {
  line-height: 60px;
  width: 30px;
  border: none;
  font-weight: bold;
  position: relative;
  left: 20rem;
  bottom: 4.3rem;
}

input[type=number]::-webkit-inner-spin-button {
  width: 10px;
  height: 100px;
  position: relative;
  right: 18px;
  opacity: 25%;
}
input[type=number]:focus {
  outline: none;
}
.cart-item {
  position: relative;
  top: 1rem
}
.link-section {
  display: flex;
  justify-content: center;
}
.buy-link {
  background-color: black;
  width: 248px;
  height: 55px;
  border-radius: 50px;
}

