@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.main-confirm {
    margin-bottom: 20px;
    background-color: #E5674E;
    height: 667px;
    font-family: 'PT Serif', serif;
}
.order-text {
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.ordernumber {
    display: flex;
    justify-content: center;
}
.confirm-section {
    display: flex;
    justify-content: center;
}

.confirm-article {
    width: 16rem;
    text-align: center;
    height: 3rem;
    position: relative;
    bottom: 5rem;
}

.drone {
    margin-top: 3rem;
}

.order-header {
    color: white;
    font-size: 36px;
}
.timer-section {
    display: flex;
    justify-content: center;
    position: relative;
    top: 4rem;
}
.timer {
    color: white;
    font-size: 21px;
    margin-block-start: 0;
    margin-inline-end: 0;
}

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.confirm-btn {
    width: 184px;
height: 55px;
border-radius: 50px;
margin-top: 5.5rem;
border: none;
font-size: 20px;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.no-items {
    margin-block-start: 0;
    margin-block-end: 0;   
    text-align: center;
    font-size: 40px;
    color: white;
    position: relative;
    top: 14rem;
    font-family: 'PT Serif', serif;
}
.link {
    text-decoration: none;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgb(8, 8, 8);
    font-family: 'PT Serif', serif;
}